/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://www.cssportal.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #f2f2f2;
    overflow: hidden;
}

svg {
    font: 5em Arial, sans-serif;
}

g {
	font: 10px Arial, sans-serif;
}

.arco{
    width: 100%;
    height: 384px;
}

.fiebre {
    display: block;
    width: 100%;
    height: 384px;
}

.line {
    fill: none;
    stroke: #333333;
    stroke-width: 10px;
}

.axis {
    fill: none;
    /*stroke: #eaeaea;*/
    shape-rendering: crispEdges;
}

.tick line {
    stroke: #555;
}

.tick text {
    fill: #000;
}

.numberLight, .numberSound {
    font-size: 3em;
}

.light {

}

.sound {
    
}

#wrapper {
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    margin-left: 400px;
}

#leftcolumn {
    float: left;
    background: #CC33FF;
    width: 400px;
    margin-left: -100%;
}

