html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #f2f2f2;
    overflow: hidden;
}

svg {
    font: 5em Arial, sans-serif;
}

g {
	font: 10px Arial, sans-serif;
}

.arco{
    width: 100%;
    height: 100%;
}

.fiebre {
    display: block;
    width: 100%;
    height: 50%;
}

.line {
    fill: none;
    stroke: #333333;
    stroke-width: 10px;
}

.axis {
    fill: none;
    /*stroke: #eaeaea;*/
    shape-rendering: crispEdges;
}

.tick line {
    stroke: #555;
}

.tick text {
    fill: #000;
}

.numberLight, .numberSound {
    font-size: 3em;
}